body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #121212;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 2;
}

header a {
  color: #bb86fc;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  color: #ffffff;
}

.website {
  color: #FFFFFF;
  margin-left: 0px;
}

.hero {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-header {
  text-align: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}