body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #121212;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 2;
}

header a {
  color: #bb86fc;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  color: #ffffff;
}

.website {
  color: #FFFFFF;
  margin-left: 0px;
}

.hero {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-header {
  text-align: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.hero-header h1 {
  font-size: 3rem;
  background: linear-gradient(90deg, #bb86fc, #7a4bd9);
  background-clip: text;
  color: transparent;
  margin-bottom: 2px;
}

.hero-header p {
  font-size: 1rem;
  color: white;
  z-index: 1;
}

.choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.button {
  background-color: transparent;
  border: 2px solid #bb86fc;
  color: #ffffff;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
}

.button:hover {
  background: linear-gradient(270deg, #bb86fc, #7a4bd9);;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #333;
  color: #888;
}