body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #121212;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 1;
}

header a {
  color: #bb86fc;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  color: #ffffff;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3rem;
  background: linear-gradient(90deg, #bb86fc, #7a4bd9);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

section {
  padding: 60px 20px;
  max-width: 1500px;
  margin: 0 auto;
}

h2 {
  color: #bb86fc;
  margin-bottom: 20px;
}

.collapsible {
  background-color: transparent;
  border: 2px solid #bb86fc;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
}

.active, .collapsible:hover {
  background: linear-gradient(270deg, #bb86fc, #7a4bd9);;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #transparent;
}

.project {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #333;
  color: #888;
}