body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #121212;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 2;
}

header a {
  color: #bb86fc;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  color: #ffffff;
}

.website {
  color: #FFFFFF;
  margin-left: 0px;
}

.hero {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-header {
  text-align: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.hero-header h1 {
  font-size: 3rem;
  background: linear-gradient(90deg, #bb86fc, #7a4bd9);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-bottom: 2px;
}

.hero-header p {
  font-size: 1rem;
  color: white;
  z-index: 1;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.website-box {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: #141414;
  border-radius: 15px;
  padding: 1.5rem;
  width: 825px;
}

.website-box h3 {
  color: #d0a5ff;
  margin-top: 0;
  font-size: 1.2rem;
  text-align: center;
}

.website-box a:link {
  text-decoration: none;
  color: #d0a5ff;
}

.website-box a:visited {
  text-decoration: none;
  color: #d0a5ff;
}

.website-box a:hover {
  text-decoration: none;
  color: #9633ff;
}

.website-box:active {
  text-decoration: none;
}

.website-box img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #333;
  color: #888;
}